/* :: 18.0 Contact Area */

.akame-contact-form {
    position: relative;
    z-index: 1;
    border: 1px solid $border;
    padding: 30px;

    @media #{$breakpoint-xs} {
        padding: 20px;
    }

    h2 {
        @media #{$breakpoint-xs} {
            font-size: 24px;
        }
    }

    h4 {
        @media #{$breakpoint-xs} {
            font-size: 20px;
        }
    }

    .form-control {
        width: 100%;
        height: 50px;
        padding: 0 20px;
        border-radius: 2px;
        color: $secondary;
        font-size: 14px;

        &:focus {
            box-shadow: none;
            border-color: $primary;
        }
    }

    textarea.form-control {
        height: 150px;
        padding: 20px;
    }
}

.akame-google-maps-area {
    position: relative;
    z-index: 1;
    height: 450px;

    @media #{$breakpoint-xs} {
        height: 320px;
    }

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

.single-contact-information {
    position: relative;
    z-index: 1;
    text-align: center;

    i {
        font-size: 30px;
        margin-bottom: 15px;
        color: $hover;
        display: block;
    }

    h4 {
        display: block;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 0;
    }
}